<app-menu-bar></app-menu-bar>

<app-menu-title></app-menu-title>

<div class="articles">
  <div class="articles__main">
    <app-big-card
      [id]="1"
      cardTitle="Kevin's Chili Mishap"
      photoCover="../../../assets/images/Kevin.jpg"
      photoCaption="Chilli incident"
      cardContent='In the episode "Casual Friday", Kevin has a kitchen disaster during a chili
        cook-off. While attempting to carry an enormous pot, he trips and spills
        chili everywhere. The office descends into chaos as Kevin try to clean up
        the mess. The incident becomes a classic comedic moment of the series.'
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
      [id]="2"
      photoCover="../../../assets/images/Dinner.jpg"
      cardSubtitle="Dinner Party"
      cardContent="Michael and Jan's tense relationship takes center stage during an
    uncomfortable gathering, capturing the show's unique humor."
    ></app-small-card>
    <hr />
    <app-small-card
      [id]="3"
      photoCover="../../../assets/images/beach-games.jpg"
      cardSubtitle="Beach Games"
      cardContent="In the episode 'Beach Games', Michael plans eccentric beach team-building to find his successor, resulting in chaos and character quirks."
    ></app-small-card>
    <hr />
    <app-small-card
      [id]="4"
      photoCover="../../../assets/images/michael-roast.webp"
      cardSubtitle="Michael Roast"
      cardContent="In this episode, there's a scene where the characters engage in a lighthearted roast of Michael, playfully highlighting his quirks. This event is famously referred to as the Michael Roast."
    ></app-small-card>
  </div>
</div>
