<ul class="container__menu-bar">
    <li>J</li>
    <li>LEARN</li>
    <li>BLOG</li>
    <li>BOOKMARKS</li>
    <li>UI KITS</li>
    <ul class="social__menu-bar">
        <li>
            <img src="" alt="">
        </li>
        <li>
            <img src="../../../assets/icons/insta-icon.png" alt="Insta Icon">
        </li>
        <li>
            <img src="" alt="">
        </li>
        <li>
            <img src="../../../assets/icons/menu-icon.png" alt="Menu Icon">
        </li>
    </ul>
</ul>